#H2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(117, 105, 187);
}
#text1{
    font-family: monospace;
    color: black;
}
#text2{
    font-family: monospace;
    color: #000;
}
#text3{
    font-family: monospace;
    color: #000;
}
#container{
    width: 600px;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(163, 93, 131);
}