*{
    margin: 0;
    padding: 0;
}

#container{
    width: 1000px;
    height: 1200px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

#header{
    width: 1000px;
    height: 200px;
    background-color: chocolate;
}

#enca{
    position: relative;
    left: 380px;
    top: 80px;
    font-family: inherit;
    font-size: 40px;
    color: black;
}

#nav{
    width: 1000px;
    height: 100px;
    background-color: coral;
}

#men{
    position: relative;
    left: 400px;
    top: 40px;
    font-family: inherit;
    font-size: 40px;
    color: black;
}

#main{
    width: 1000px;
    height: 800px;
    background-color: beige;
}

#cue{
    position: relative;
    left: 20px;
    top: 300px;
    font-family: inherit;
    font-size: 40px;
    color: black;
}

#footer{
    width: 1000px;
    height: 100px;
    background-color: orangered;
}

#pie{
    position: relative;
    left: 55px;
    top: 2px;
    font-family: inherit;
    font-size: 30px;
    color: black;
}